@use '../main/utils' as *;

.error{
  @include grid(50%, $align: true);
  height: 100vh;

  .imagen{
    display: flex;
    justify-content: center;
    position: relative;

    .imagen__pregunta{
      position: absolute;
    }

    .imagen__pregunta, .imagen__radio{
      width: 50%;
    }
  }
}



//Blur de imágenes
#pregunta--dif, #pregunta-marco--dif, #radio--dif, #radio-marco--dif{
  filter: blur(3px);
}  


//Animaciones
//Radio
#radio, #radio--dif{
  animation: radio 4s ease-in-out, TransiciónRadio 16s ease-in-out;
  animation-iteration-count:infinite;
  @include animacionEje;

  @keyframes radio {
    0% {transform: scale(1) rotate(0deg);}
    25% {transform: scale(1.05) rotate(5deg);}
    50% {transform: scale(1) rotate(0deg);}
    75% {transform: scale(1.05) rotate(-5deg);}
    100% {transform: scale(1) rotate(0deg);}
  }

    @keyframes TransiciónRadio {
      0% {opacity: 0;}
      50% {opacity: 1;}
      100% {opacity: 0;}
    }
}

//Pregunta
#pregunta, #pregunta--dif{
  animation: Pregunta 8s ease-in-out, TransiciónPregunta 16s ease-in-out;
  animation-iteration-count:infinite;
  @include animacionEje;

  //Combinación de animaciones
  @keyframes TransiciónPregunta {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
  }
}

//Desaparece FOndo para la transición
#pregunta-fondo{
  animation: TransiciónPregunta 16s ease-in-out;
  animation-iteration-count:infinite;
}


