@use '../main/utils' as *;

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: $azul-osc-2;

  position: sticky;
  top: 0;
  z-index: 1;

  .nav__logo{
    height: 60px;
  }

  .nav__ul{
    display: none;

    .nav__li{
      @include titulos;
      font-size: clamp(1rem, 2.5vw, 1.5rem);
    }
  }

  .nav__toggle{
    display: flex;
    width: 25px;
  }

  // .nav__ul{
  //   display: flex;
  //   justify-content: space-around;
  //   width: 50%;  
  //   list-style: none;

  //   li{
  //     color: $amarillo;
  //     background: transparent;
  //     padding: 5px 20px;
  //     border-radius: 25px;
  //     transition: .75s;
  //     font-weight: bold;

  //     &:hover{
  //       background: $amarillo;
  //       color: $azul-osc-1;
  //     }
  //   }
  // }


}


