@use './utils' as*;

h1{
  font-size: 1.3em;
}

//Desperfecto del footer haciéndose pequeño
@media (max-width: 345px) {
  .disclaimer, .links{
    width: 100vw;
  }
}

//Dispositivos Móviles
@media (max-width: 768px) {
  //Generalidades

  //Grid Mobile
  .error, .esp-info, .footer{
    @include grid-mobile
  }


  //Nav
  .nav{
    transition: 1s;
  }

  .imagen, .texto{
    width: 100vw;
  }

  .texto{
    text-align: center;
    padding: 0 25px;
  }

  //Perfil

  .perfil-info{
    grid-template-columns: none;
    grid-template-rows: repeat(3, 1fr);

    .perfil-header{
      grid-row: 1/1;
      grid-column: 1/2;
      margin-bottom: 30px;

      .perfil-header__div{
        display: flex;
        justify-content: center;

        .munyeco{
          width: 20%;
          margin-bottom: 20px;
        }
      }
    }

    .perfil-cursos{
      grid-row: 2/2;
      grid-column: 1/2;
      margin: 30px 0;
    }

    .perfil-laboral{
      grid-row: 3/3;
      grid-column: 1/2;
      margin-top: 30px;
    }
  }

  //Especialidades

    //Hero H1 en Mobile
    .esp-hero__h1{
      @include h1(18%);
    }

    //Especialidades con texto centrado
    .esp-area__div{
      text-align: center;
      margin: 0 10px;
    }

  //Footer
  .footer > *{
    text-align: center;
  }
}




@media (min-width: 768px){

h1{
  font-size: 2em;
}

//INICIO

//Info regulares
.inicio-info{
  @include grid(50%, $align: true);
  grid-template-rows:  repeat(3, auto);

  //Subgrid
  .inicio-info__div{
    margin-top: 20px;
  }
}


.inicio-info:nth-child(1) {
  margin: 0 5% 10% 5%;

  .inicio-info__img{
    grid-column: 2/2;
    grid-row: 1/2;
  }

  .inicio-info__desc{
    grid-column: 1/1;
    grid-row: 1/2;
  }
}


.inicio-info:nth-child(2){
  margin: 10% 5%;

  .inicio-info__img{
    grid-column: 1/1;
    grid-row: 1/2;

  }

  .inicio-info__desc{
    grid-column: 2/2;
    grid-row: 1/2;
  }
}


.inicio-info:nth-child(3){
  margin: 10% 5%;

  .inicio-info__img{
    grid-column: 2/2;
    grid-row: 1/2;
  }

  .inicio-info__desc{
    grid-column: 1/1;
    grid-row: 1/2;
  }
}

//SVG tamano
.inicio-info__svg{
  width: 50%;
}
}


//Responsive Subgrid de dos Columnas y Otros
@media (min-width: 1450px) {

  h1{
    font-size: 3em;
  }

  .info__div{
    @include grid(50%, $align: true);
  }
}
