$azul-osc-2: #000955ff;
$azul-osc-1: #250f80ff;
$azul: #0012a6ff;
$azul-clar: #97a2ffff;

$amarillo-osc-2: #a98203ff;
$amarillo-osc-1: #c89803ff;
$amarillo: #ebb204ff;

$border-radius: 25px;


@mixin grid($cols, $align: false) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($cols, 1fr));
  justify-content: center;

  @if $align{
    align-items: center;
  }
}

@mixin grid-mobile{
  grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
  gap: 0;
}


@mixin titulos {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  color: $amarillo;
  font-weight: bold;
}

@mixin h1($top){
  position: absolute;
  top: $top;
  left: 50%;
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@mixin animacionEje {
  transform-origin: center;
  transform-box: fill-box;
}

@mixin texto ($esp) {
  font-family: 'Merriweather', serif;

  @if $esp == azul {
    color: $azul-clar;
  } @else if $esp == amarillo {
    color: $amarillo;
  } @else {
    @error "Seleccione texto mixin amarillo o azul."
  }
}
