@use '../components/error404' as *;
@use '../components/especialidades' as *;
@use '../components/footer' as *;
@use '../components/inicio' as *;
@use '../components/nav' as *;

@use 'media-querys' as *;
@use 'utils' as *;


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: $azul-osc-1;
}

a{
  text-decoration: none;
  color: $amarillo;
}


h1,h2,h3,li{
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

p{
  font-family: 'Merriweather', serif;
}

