@use '../components/inicio' as *;
@use '../components/perfil' as *;
@use '../components/especialidades' as *;
@use '../components/error404' as *;
@use '../components/referencias' as *;
@use '../components/loader' as *;

@use '../components/footer' as *;
@use '../components/nav' as *;

@use 'media-querys' as *;
@use 'utils' as *;

//GFONTS
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&family=Merriweather&display=swap');


//Generalidades
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: $azul-osc-2;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

//Font Styles
h1,h2,h3,h4{
  @include titulos;
}

h1,h2{
  line-height: 1.3em;
  margin-bottom: 20px;
}

p,li,a{
  @include errror-texto(azul);
}

p{
  margin: 10px 0;
}

//Font Sizes
//El h1 está en Media Querys

h2{
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

h3{
  font-size: clamp(1.15rem, 2.5vw, 1.5rem);
}

li, p, a, input{
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

.cita__a{
  text-decoration: underline;
  @include errror-texto(amarillo);
}