@charset "UTF-8";
.error {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.error .imagen {
  display: flex;
  justify-content: center;
  position: relative;
}
.error .imagen .imagen__pregunta {
  position: absolute;
}
.error .imagen .imagen__pregunta, .error .imagen .imagen__radio {
  width: 50%;
}

#pregunta--dif, #pregunta-marco--dif, #radio--dif, #radio-marco--dif {
  filter: blur(3px);
}

#radio, #radio--dif {
  animation: radio 4s ease-in-out, TransiciónRadio 16s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes radio {
  0% {
    transform: scale(1) rotate(0deg);
  }
  25% {
    transform: scale(1.05) rotate(5deg);
  }
  50% {
    transform: scale(1) rotate(0deg);
  }
  75% {
    transform: scale(1.05) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes TransiciónRadio {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#pregunta, #pregunta--dif {
  animation: Pregunta 8s ease-in-out, TransiciónPregunta 16s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes TransiciónPregunta {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#pregunta-fondo {
  animation: TransiciónPregunta 16s ease-in-out;
  animation-iteration-count: infinite;
}

.esp__svg {
  width: 100%;
}
.esp__svg #Corazon, .esp__svg #Psicologia {
  animation: arribaAbajo 5s ease-in-out;
  animation-iteration-count: infinite;
}
.esp__svg #Diente, .esp__svg #Pulmones {
  animation: arribaAbajo 5s ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.esp__svg #Lazo, .esp__svg #Deporte {
  animation: arribaAbajo 5s ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
@keyframes arribaAbajo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.esp__h1 {
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.area__h2 {
  text-align: center;
}

.info--esp {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(100% / 4), 1fr));
  align-items: center;
  justify-content: center;
  margin: 0 5%;
  column-gap: 8%;
}
.info--esp .esp__area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0;
}
.info--esp .esp__area .area__svg {
  width: 25%;
}
.info--esp .esp__area .area__div {
  margin-top: 10px;
  padding: 20px 15px;
  background-color: #250f80ff;
  border-radius: 15px;
  width: 100%;
}

.mas--esp {
  margin: 30px 0 100px 0;
  text-align: center;
}
.mas--esp .mas__input {
  background: #ebb204ff;
  width: 120px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.25s;
}
.mas--esp .mas__input:hover {
  background: #97a2ffff;
}

.psicologia__svg {
  animation: Tambalear 5s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.corazon__svg {
  animation: Latir 5s ease-in-out;
  animation-iteration-count: infinite;
}

.pulmones__svg {
  animation: Respirar 5s ease-in-out;
  animation-iteration-count: infinite;
}

.diente__svg {
  animation: Diente 5s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.lazo__svg {
  animation: Lazo 5s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}

.balon__svg {
  animation: Balon 5s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes Tambalear {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes Latir {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05) translateX(-2%) translateY(-2%);
  }
  30% {
    transform: scale(1);
  }
  35% {
    transform: scale(1.05) translateX(-2%) translateY(-2%);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.05) translateX(-2%) translateY(-2%);
  }
  65% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05) translateX(-2%) translateY(-2%);
  }
  75% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Respirar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05) translateX(-2%) translateY(-2%);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Diente {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  35% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(5deg);
  }
  85% {
    transform: rotate(0deg);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes Lazo {
  0% {
    transform: skewY(5deg);
  }
  50% {
    transform: skewY(-5deg);
  }
  100% {
    transform: skewY(5deg);
  }
}
@keyframes Balon {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  30% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(-5deg);
  }
  40% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(5deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.footer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  align-items: center;
  justify-content: center;
  background-color: #250f80ff;
}
.footer .links__div a:first-child {
  margin-right: 10px;
}
.footer p {
  font-size: 1rem;
}
.footer .links__a {
  font-style: italic;
  text-decoration: underline;
  font-size: 1rem;
}

.footer > * {
  text-align: start;
}

.disclaimer, .links {
  padding: 10px 25px;
  width: 100%;
}

.footer__h4 {
  padding: 10px 0;
  background-color: #250f80ff;
  text-align: center;
  color: #ebb204ff;
}
.footer__h4 .footer__a {
  color: #ebb204ff;
  font-size: inherit;
  font-style: italic;
  font-weight: bold;
}

.hero {
  position: relative;
}
.hero .hero__svg {
  width: 100%;
}
.hero .hero__svg #Liana-izq {
  animation: LianaIzq ease-in-out;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  filter: blur(1px);
  transform-origin: center;
  transform-box: fill-box;
  -webkit-animation-duration: 9s;
}
@keyframes LianaIzq {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.7);
  }
  100% {
    transform: scaleX(1);
  }
}
.hero .hero__svg #Liana-centro {
  animation: LianaCentro ease-in-out;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
  -webkit-animation-duration: 10s;
}
@keyframes LianaCentro {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.8);
  }
  100% {
    transform: scaleX(1);
  }
}
.hero .hero__svg #Liana-der {
  animation: LianaDer ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 8s;
  filter: blur(2px);
  transform-origin: center;
  transform-box: fill-box;
  -webkit-animation-duration: 8s;
}
@keyframes LianaDer {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(0.6);
  }
  100% {
    transform: scaleX(1);
  }
}
.hero .hero__svg #Balones {
  filter: blur(2px);
}
.hero .hero__svg #balon-izq {
  animation: BalonIzq 10s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes BalonIzq {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(0px);
  }
}
.hero .hero__svg #Caminadora-2 {
  filter: blur(3px);
}
.hero .hero__svg #Caminadora, .hero .hero__svg #Pesas, .hero .hero__svg #Liana-centro {
  filter: blur(1px);
}
.hero .hero__svg #Marco-huesos-blur, .hero .hero__svg #Marco-der-blur, .hero .hero__svg #Marco-izq-blur, .hero .hero__svg #Hueso-der-blur, .hero .hero__svg #Hueso-izq-blur {
  animation: Difuminado 10s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes Difuminado {
  0% {
    filter: blur(8px);
  }
  20% {
    filter: blur(2px);
  }
  25% {
    filter: blur(8px);
  }
  60% {
    filter: blur(2px);
  }
  65% {
    filter: blur(8px);
  }
  70% {
    filter: blur(2px);
  }
  75% {
    filter: blur(8px);
  }
  100% {
    filter: blur(8px);
  }
}
.hero .hero__h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.info--mobile:nth-child(1), .info--mobile:nth-child(3) {
  display: grid;
  grid-template-rows: auto;
}

.info__img {
  grid-row: 1/1;
  width: 100%;
  margin-bottom: 20px;
}

.info__svg {
  width: 25%;
}

.info__desc {
  grid-row: 2/2;
  margin: 0 20px;
}

.info--mobile {
  margin: 50px 0;
}

.info__ul > li {
  font-weight: normal;
  color: #97a2ffff;
}

.info__desc {
  padding: 25px 40px;
  background-color: #250f80ff;
  border-radius: 25px 40px;
}

.info__img {
  display: flex;
  justify-content: center;
}

.cita__a {
  text-decoration: underline;
  font-family: "Merriweather", serif;
  color: #ebb204ff;
}

.circulo {
  animation: circulo 8s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes circulo {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale(0.9) translateX(5%) translateY(5%);
  }
  100% {
    transform: scale(1);
  }
}

#Pesa {
  animation: Pesa 8s ease-in-out;
  animation-iteration-count: infinite;
}
@keyframes Pesa {
  0% {
    transform: translateX(7px) translateY(-7px);
  }
  50% {
    transform: translateX(-7px) translateY(7px);
  }
  100% {
    transform: translateX(7px) translateY(-7px);
  }
}

#Frio {
  animation: Frio 8s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes Frio {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#Pregunta {
  animation: Pregunta 8s ease-in-out;
  animation-iteration-count: infinite;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes Pregunta {
  25% {
    transform: scaleX(-1);
  }
  50% {
    transform: scaleX(1);
  }
  75% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(0deg);
  }
  85% {
    transform: rotate(10deg);
  }
  90% {
    transform: rotate(0deg);
  }
}

.header {
  background-color: #000955ff;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header .header__logo {
  height: 70px;
}
.header .header__toggle {
  font-size: 1.75rem;
  transition: 0.5s;
}
.header .header__toggle svg:hover {
  animation: rotar 0.5s;
}
@keyframes rotar {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.nav {
  background-color: #000955ff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: -110%;
  transition: 1.25s;
  z-index: 123;
}

.nav.active {
  right: 0;
  z-index: 123;
}

.nav__li {
  display: flex;
  align-items: center;
  height: 60px;
  margin: 20px 15px;
  list-style: none;
}
.nav__li a {
  font-size: 18px;
  text-decoration: none;
  color: #97a2ffff;
  width: 100%;
  height: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  transition: 1s;
}
.nav__li a:hover {
  background: #250f80ff;
  padding-left: 25px;
}

.nav__ul {
  width: 100%;
}

.nav__toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.nav__toggle a {
  font-size: 2.5rem;
}
.nav__toggle a:hover {
  animation: temblar 3s;
  animation-iteration-count: infinite;
}
@keyframes temblar {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

span {
  margin-left: 16px;
}

h1 {
  font-size: 1.3em;
}

@media (max-width: 345px) {
  .disclaimer, .links {
    width: 100vw;
  }
}
@media (max-width: 768px) {
  .nav {
    transition: 1s;
  }

  .imagen, .texto {
    width: 100vw;
  }

  .texto {
    text-align: center;
    padding: 0 25px;
  }

  .esp__h1 {
    position: absolute;
    top: 18%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .error, .info--esp, .footer {
    grid-template-columns: repeat(auto-fit, minmax(334px, 1fr));
    gap: 0;
  }

  .area__div {
    text-align: center;
    margin: 0 10px;
  }

  .footer > * {
    text-align: center;
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: 2em;
  }

  .info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(3, auto);
  }
  .info .info__div {
    margin-top: 20px;
  }

  .info:nth-child(1) {
    margin: 0 5% 10% 5%;
  }
  .info:nth-child(1) .info__img {
    grid-column: 2/2;
    grid-row: 1/2;
  }
  .info:nth-child(1) .info__desc {
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .info:nth-child(2) {
    margin: 10% 5%;
  }
  .info:nth-child(2) .info__img {
    grid-column: 1/1;
    grid-row: 1/2;
  }
  .info:nth-child(2) .info__desc {
    grid-column: 2/2;
    grid-row: 1/2;
  }

  .info:nth-child(3) {
    margin: 10% 5%;
  }
  .info:nth-child(3) .info__img {
    grid-column: 2/2;
    grid-row: 1/2;
  }
  .info:nth-child(3) .info__desc {
    grid-column: 1/1;
    grid-row: 1/2;
  }

  .info__svg {
    width: 50%;
  }
}
@media (min-width: 1450px) {
  h1 {
    font-size: 3em;
  }

  .info__div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    align-items: center;
    justify-content: center;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #000955ff;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: #ebb204ff;
  font-weight: bold;
}

h1, h2 {
  line-height: 1.3em;
  margin-bottom: 20px;
}

p, li, a {
  font-family: "Merriweather", serif;
  color: #97a2ffff;
}

p {
  margin: 10px 0;
}

h2 {
  font-size: clamp(1.2rem, 2.5vw, 2rem);
}

h3 {
  font-size: clamp(1.15rem, 2.5vw, 1.5rem);
}

li, p, a, input {
  font-size: clamp(1rem, 2.5vw, 1.25rem);
}

/*# sourceMappingURL=main.css.map */
